<div class="home {{home_status}}">
    <div class="half">
        <h2>Menu</h2>
        <div ng-click="home('hide')" class="close_btn hand_cursor">x</div>
    </div>
    <div class="half">
        <div class="topic_panel">
            <div class="topic hand_cursor" ng-repeat="item in topic" ng-click="gotoPage($index, 0)">
                <div class="num">{{("00"+($index + 1)).slice(-2)}}</div>
                <div class="title">Module {{($index + 1)}} - {{item.title}}</div>
                <div class="status">
                    <div class="prog" style="width:{{getTopicStatus($index)}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>