<section class="sec" data-current="{{curr_page}}" style="background-image: url('{{page.image}}')">
	<div class="text_image">
		<div class="full-height">
			<div class="row center_screen">
				<div class="col-6">
					<div class="white_bg text_content">
						<div class="animate" ng-repeat="b in page.block" data-time="{{b.time}}">
							<p ng-bind-html="b.text | to_trusted"></p>
							<ul class="square_bullet">
								<li ng-repeat="c in b.list" class="animate" data-time="{{b.time}}">
									{{c}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$().ready(function () {
		//alert("I am here")
		anime({
			targets: '.sec',
			backgroundPosition: ['120% 0%', '100% 0%'],
			opacity: [0, 1],
			duration: 2000
		});
		anime({
			targets: '.white_bg',
			translateX: [-50, 0],
			opacity: [0, 1],
			delay: function (el, i, l) {
				return (i * 1000) + 1000;
			},
			duration: 1000
		});
		anime({
			targets: '.animate',
			translateY: [50, 0],
			opacity: [0, 1],
			delay: function (el, i, l) {
				var time = getMilliSecond($(el).attr("data-time"));
				return time;
			},
			duration: 1000
		});
	});
</script>