<section class="sec" data-current="{{curr_page}}">
	<div class="objective">
			<div class="container full-height">
			<div class="center_screen">
					
				<div class="animate" ng-repeat="b in page.block" data-time="{{b.time}}">
					<div id="objective{{$index}}" class="animate text" ng-bind-html="b.text | to_trusted"></div>
				</div>
				<img id="obj_image" ng-src="{{page.image}}" class="img_animate position"></div>
			</div>
		</div>
</section>
<script>
		$().ready(function () {
		
			anime({
				targets: '.img_animate',
				opacity:[0, 1],
				delay: 750,
				 duration: 500
			  });

			anime({
				targets: '.animate',
				translateY: [50, 0],
				opacity:[0, 1],
				delay: function(el, i, l) {
					var time = getMilliSecond($(el).attr("data-time"));
					return time;
				},
			duration: 1000
		});
		});
	</script>