<section class="sec" data-current="{{curr_page}}"
	style="background-image: url('{{page.image}}'); background-position: left;">
	<div class="welcome">
		<div class="container full-height">
			<div class="row center_screen">
				<div class="col-6"></div>
				<div class="col-6">
					<h2 class="animate">{{page.heading}}</h2>
					<ul id="welcome_ul">
						<li class="animate" ng-repeat="b in page.block" data-time="{{b.time}}">
							<div class="number">0{{$index + 1}}</div>
							<div class="text" ng-bind-html="b.text | to_trusted"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$().ready(function () {
		var margin = ($("#welcome_ul li").length - 1) * 20;
		$("#welcome_ul li").each(function () {
			$(this).css("margin-left", margin)
			margin -= 20;
		})
		anime({
			targets: '.sec',
			backgroundPosition: ['10% 0%', '0% 0%'],
			opacity:[0, 1],
			duration: 2000
		});
		anime({
		targets: '.animate',
		translateX: [50, 0],
		opacity:[0, 1],
		delay: function(el, i, l) {
			var time = getMilliSecond($(el).attr("data-time"));
			return time;
			},
			duration: 1000
		});
	});
</script>