.item {
	position: absolute;
	text-align: center;
}
.item img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transform: scale(0.85);
}
.Note2 img {
	transform: scale(0.65);
}
.item.Circle_mid {
	padding: 80px 10px 0 50px;
	font-size: 15px;
	line-height: 22px;
	border-radius: 50%;
	word-wrap: break-word;
	width: 270px;
}
.instruction {
	position: absolute;
}
.instruction::before {
	content: " ";
	background: url("../../../image/topic1/insIcon.png") no-repeat;
	width: 51px;
	height: 44px;
	position: absolute;
	left: -47px;
	top: -10px;
	transform: scale(0.8);
}
.item.Circle_1 {
	width: 675px;
	padding: 36px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}
.item.Circle_2 {
	width: 675px;
	padding: 58px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}
.item.Circle_3 {
	width: 675px;
	padding: 58px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}

.clk {
    cursor: pointer;
}

.orange1 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 125px;
	color: white;
	text-align: center;
}

.orange2 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 114px;
	color: white;
	text-align: center;
}

.orange3 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 116px;
	color: white;
	text-align: center;
}


.item.yellow {
	width: 550px;
	padding: 11px 80px 0 98px;
	font-size: 13px;
	line-height: 21px;
	border-radius: 50%;
	text-align: left;
}
.item.green {
	width: 550px;
	padding: 11px 80px 0 98px;
	font-size: 13px;
	line-height: 21px;
	border-radius: 50%;
	text-align: left;
}

.circleBig .inTxt {
	position: absolute;
	left: 116px;
	top: 191px;
	width: 164px;
	font-size: 13px;
}