.item {
	position: absolute;
	text-align: center;
}
.item img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	/* width: 90%; */
	transform: scale(0.85);
}
.item.Circle_mid {
	width: 280px;
	padding: 110px 44px;
	font-size: 15px;
	line-height: 20px;
	border-radius: 50%;
	word-wrap: break-word;
}
.instruction {
	position: absolute;
}
.item.Circle_1 {
	width: 190px;
	padding: 121px 54px;
	font-size: 15px;
	line-height: 23px;
	border-radius: 50%;
	word-wrap: break-word;
}
.item.Circle_2 {
	width: 160px;
	padding: 101px 29px;
	font-size: 15px;
	line-height: 23px;
	border-radius: 50%;
	word-wrap: break-word;
}
.item.Circle_3 {
	width: 149px;
	padding: 95px 15px;
	font-size: 15px;
	line-height: 23px;
	border-radius: 50%;
	word-wrap: break-word;
}
.item.Circle_4 {
	width: 352px;
	padding: 101px 134px;
	font-size: 15px;
	line-height: 23px;
	border-radius: 50%;
	word-wrap: break-word;
}
.item.Circle_5 {
	width: 402px;
	padding: 124px 30px 0 310px;
	font-size: 15px;
	line-height: 23px;
	border-radius: 50%;
	word-wrap: break-word;
}
img.shaddow_img {
	position: relative;
	bottom: 10px !important;
}
.shaddow_txt_1 {
    width: 860px;
}

.bg_txt_2, .bg_txt_1 {
	padding: 22px 80px 0 60px;
}

.clk {
    cursor: pointer;
}

.listTxt::before {
	content: "";
	background: url("../../../image/topic1/page3/listBullet.png") no-repeat;
	width: 51px;
	height: 44px;
	position: absolute;
	left: -24px;
	top: 3px;
}
.instruction::before{
	display: none;
}