.item {
	position: absolute;
	text-align: center;
}
.item img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	transform: scale(0.85);
}
.Note2 img {
	transform: scale(0.65);
}
.item.Circle_mid {
	padding: 80px 10px 0 50px;
	font-size: 15px;
	line-height: 22px;
	border-radius: 50%;
	word-wrap: break-word;
	width: 270px;
}
.instruction {
	position: absolute;
}
.item.Circle_1 {
	width: 675px;
	padding: 36px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}
.item.Circle_2 {
	width: 675px;
	padding: 58px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}
.item.Circle_3 {
	width: 675px;
	padding: 58px 60px 0 288px;
	font-size: 14px;
	line-height: 23px;
	border-radius: 50%;
	text-align: left;
}

.clk {
    cursor: pointer;
}

.orange1 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 125px;
	color: white;
	text-align: center;
}

.orange2 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 114px;
	color: white;
	text-align: center;
}

.orange3 .inTxt {
	position: absolute;
	width: 170px;
	left: 110px;
	top: 116px;
	color: white;
	text-align: center;
}


.item.yellow {
	width: 550px;
	padding: 11px 80px 0 98px;
	font-size: 13px;
	line-height: 21px;
	border-radius: 50%;
	text-align: left;
}
.item.green {
	width: 550px;
	padding: 11px 80px 0 98px;
	font-size: 13px;
	line-height: 21px;
	border-radius: 50%;
	text-align: left;
}

.circleBig .inTxt {
	position: absolute;
	left: 116px;
	top: 191px;
	width: 164px;
	font-size: 13px;
}

.inTxt p {
	position: absolute;
	left: 55px;
	top: 18px;
	color: #C34B0D;
	width: 160px;
	text-align: left;
	font-weight: bold;
}

.inTxt ul {
	position: absolute;
	left: 37px;
	top: 66px;
	color: #fff;
	width: 410px;
	text-align: left;
	font-size: 14px;
}

.large .inTxt {
	position: absolute;
	top: 109px;
	left: 60px;
}

.bottomBG .inTxt {
	position: absolute;
	width: 216px;
	left: 41px;
	top: 19px;
	font-size: 13px;
}

.inTxt li {
	margin-bottom: 6px;
	list-style-image: url('../../../image/shell/green/bullet.png');
}

.blue .inTxt, .orange .inTxt, .yellow .inTxt, .green .inTxt {
	color: #fff;
	position: absolute;
	left: 102px;
	width: 430px;
	top: 20px;
	font-size: 13px;
	text-align: left;
	padding: 0 15px;
}

.orange .inTxt {
	top: 30px;
}

.first .inTxt {
	position: absolute;
	left: 104px;
	width: 525px;
	top: 37px;
	padding: 0 15px;
	font-size: 13px;
}

.circleBg .inTxt {
	position: absolute;
	left: 51px;
	width: 205px;
	top: 127px;
	padding: 0 15px;
	font-size: 13px;
}