<section class="sec" data-current="{{curr_page}}">
        <div class="page20">
            <div class="top_space">
                <div class="row">
                    <div class="col-9">
                        <div class="animate" data-time="{{page.text.time}}" data-disappear="{{page.text.disappear}}" >
                            <div  ng-bind-html="page.text.p1 | to_trusted"></div>
                            <div  ng-bind-html="page.text.p2 | to_trusted"></div>
                            <div  ng-bind-html="page.text.p3 | to_trusted"></div>
                        </div>
                    </div>
                    <div class="col-3">
                        <img src="image/topic1/shopping.png" alt="shopping" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $().ready(function () {
            //$(".img").draggable();
            //syncAudio($(".animate"));
        });
    </script>