<section class="sec" data-current="{{curr_page}}">
    <div class="page14">
        <div class="full-height p-10">
            <div class="row align_top">
                <div class="col-12">
                    <p class="animate inst" data-time="1" ng-bind-html="page.text.instr | to_trusted"></p>
                    <div class="animate item" data-time="2">
                        <img ng-src="{{page.text.image}}" alt="">
                    </div>
                    <div class=" pointers">
                        <div class="animate point" ng-repeat="item in page.text.pointers" data-time="{{item.time}}">
                            <img src="image/topic1/page_16_dot.png" alt="">
                            <div class="point_txt animate" data-time="{{item.time}}"
                                data-disappear="{{$index+1 < page.text.pointers.length ? page.text.pointers[$index+1].time - 0.25 : item.time+2}}">
                                {{item.text}}
                            </div>
                        </div>
                    </div>
                    <div class="animate" data-time="{{page.text.panel_text.time}}">
                        <div class="p_text">
                            <div class="txt" ng-bind-html="page.text.panel_text.text | to_trusted"></div>
                        </div>

                    </div>
                    <div class="animate" data-time="{{page.text.click_text.time}}">
                        <div ng-bind-html="page.text.click_text.text | to_trusted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $().ready(function () {
        //$(".point").draggable();
        //$(".point .point_txt").fadeOut(100);
        $(".point").hover(function () {
            $(this).find(".point_txt").css("opacity", 1);
            $(this).find(".point_txt").css("transform", "translateY(0px)");
            $(this).find(".point_txt").fadeIn(100);
        }, function () {
            $(this).find(".point_txt").fadeOut(100);
        })
        syncAudio($(".animate"), "bottomToTop");
    });
</script>