.item {
	position: absolute;
	text-align: center;
}
.item img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	/* width: 90%; */
	transform: scale(0.85);
}
.instruction {
	position: absolute;
}
.inTxt {
	position: relative;
	width: 600px;
	top: 20px;
	left: 195px;
	text-align: left;
	display: inline-block;
	font-size: 14px;
}

.clk {
    cursor: pointer;
}

.clickNote .inTxt {
	top: 11px;
	width: 370px;
	left: 50px;
	font-weight: bold;
	line-height: 13px;
	font-size: 13px;
}

.key .inTxt {
	top: 30px;
	left: 180px;
	text-align: left;
	width: 430px;
	line-height: 16px;
}

video {
	position: absolute;
	left: -135px;
	top: -29px;
	width: 1211px;
}