<section class="sec" data-current="{{curr_page}}">
    <div class="page13">
        <div class="full-height">
            <div class="row align_top">
                <div class="col-8 leftSec">
                    <img class="animate centerBg" data-time="1" ng-src="{{page.image_1}}"/>
                    <img class="animate reveals reveal_{{$index}}" ng-src="{{img.source}}" data-time="{{img.time}}" ng-repeat="img in page.imageList"/>
                </div>
                
                <div class="col-4 rightSec">
                    <img class="animate" data-time="2" ng-src="{{page.image_2}}"/>
                    <img class="animate" data-time="2.5" ng-src="{{page.image_3}}"/>
                    <img class="animate" data-time="3" ng-src="{{page.image_4}}"/>
                    <p class="animate" data-time="3.5">{{page.para_1}}</p>
                    <p class="animate" data-time="4">{{page.para_2}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $().ready(function () {
        syncAudio($(".animate"), anim_type = "bottomToTop");
    });
</script>