<section class="sec" data-current="{{curr_page}}">
    <div class="page13">
        <div class="full-height">
            <div class="row align_top">
                <div class="col-12 rightSec" id="secondSeg">
                    <img class="animate centerBg" data-time="1" ng-src="{{page.image}}"/>
                    <div class="animate inner4 inner4_{{$index}}" ng-repeat="block in page.block" data-time="{{block.time}}">
                        <div class="header">
                            <span class="mainHead" style="color:{{block.heading.color}}">{{block.heading.main}}</span>
                            <span>{{block.heading.sub}}</span>
                        
                        </div>
                        <div class="ulHolder ulHolder_{{$index+1}}">
                            <ul class="ul_{{$parent.$index+1}}">
                                <li ng-repeat="list_1 in block.list_1">{{list_1}}</li>
                            </ul>
                            <img ng-src="{{block.image}}">
                            <ul class="ul_{{$parent.$index+2}}">
                                <li ng-repeat="list_2 in block.list_2">{{list_2}}</li>
                            </ul>
                        </div>
                        <p>{{block.para}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $().ready(function () {
        syncAudio($(".animate"));
    });
</script>