<section class="sec" data-current="{{curr_page}}">
    <div class="page13">
        <div class="full-height">
            <div class="row align_top">
                <div id="thirdSeg" style="width: 100%;">
                    <div class="col-12 rightSec">
                        <img class="animate centerBg" data-time="1" ng-src="{{page.image2}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $().ready(function () {

        syncAudio($(".animate"));
        
    });
</script>