<section class="sec" data-current="{{curr_page}}">
	<div class="objective">
			<div class="container full-height">
			<div class="row center_screen">
					<div class="col-12 tittle">
						<h2 class="animate" data-time="1">{{page.title}}</h2>
						</div>
			</div>
			<div class="center_screen">

				<img id="obj_image" ng-src="{{page.image}}" data-time="2" class="img_animate position animate">
				
				<div class="img3holder">
					<div class="animate" ng-repeat="b in page.block" data-time="{{b.time}}">
						<!-- <div id="objective{{$index}}" class="animate text" ng-bind-html="b.text | to_trusted"></div> -->
						
						<img id="obj_image_{{$index}}" ng-src="{{b.imgSrc}}" class="img_animate position">
					</div>
				</div>
				<a class="animate" data-time="45.8" href="https://team.cargill.com/sites/FSQR-ReferenceDocuments/FoodSafetySummit/_layouts/15/WopiFrame.aspx?sourcedoc=/sites/FSQR-ReferenceDocuments/FoodSafetySummit/2018%20LT%20Meeting%20%20Presentations/20181024_BOSC%20MGMT%20System_FSQR%20Global%20LT.pptx&action=default&DefaultItemOpen=1" target="_blank">Click the link to view GPO policy.<br/>
				<img src="image/topic1/goLink.png"/>
				</a>
			</div>
			</div>
		</div>
</section>
<script>
		$().ready(function () {
		
			syncAudio($(".animate"));

			
		});
	</script>